@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    font-family:'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    overflow: hidden;
}

.container{
    position: relative;
    max-width: 600px;
    height:400px;
    padding:50px;
    text-align: center;
    align-items: center;
    color: #CEC9C9;
}

.text{
    display:none;
  }
  
.text.textEN{
    display:initial;
  }
  
.check{
    position:relative;
    width:30px;
    cursor:pointer;
  }
  
.check::before{
    position: absolute;
    content:'';
    width:25px;
    height:15px;
    background:#CEC9C9;
    border-radius: 25px;
  }
  
  .check:checked::before{
    background: orange;
  }
  
  
  .check::after{
    content:'';
    position:absolute;
    left:0px;
    width:15px;
    height:15px;
    background: white;
    border-radius: 25px;
    transition:0.25s;
    border:2px solid #CEC9C9;
    box-sizing: border-box;
  }
  
  .check:checked::after{
    left:12px;
    border:2px solid orange; 
  }
  
  .check:checked ~ .text.textEN{
    display:none;
  }
  
  .check:checked ~ .CN{
    color: orange;
  }
  
  .check:checked ~ .text.textCN{
    display:initial;
  }

  