@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    font-family: 'Gloock', serif;
    background: rgb(11, 11, 13);
    color: #CEC9C9
}

.container {
    text-align: center;
  }