@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    font-family: 'Gloock', serif;
    background: rgb(11, 11, 13);
    color: #CEC9C9;
    height:100%;
}
  
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 

.text{
  display:none;
}

.text.textEN{
  display:initial;
}

.check{
  position:relative;
  width:30px;
  cursor:pointer;
}

.check::before{
  position: absolute;
  content:'';
  width:25px;
  height:15px;
  background:#CEC9C9;
  border-radius: 25px;
}

.check:checked::before{
  background: #FEC37D;
}


.check::after{
  content:'';
  position:absolute;
  left:0px;
  width:15px;
  height:15px;
  background: white;
  border-radius: 25px;
  transition:0.25s;
  border:2px solid #CEC9C9;
  box-sizing: border-box;
}

.check:checked::after{
  left:12px;
  border:2px solid #FEC37D; 
}

.check:checked ~ .text.textEN{
  display:none;
}

.check:checked ~ .navbarEN{
  display:none;
}

.check:checked ~ .navbarCN{
  display:flex;
}

.check:checked ~ .CN{
  color: #FEC37D;
}

.check:checked ~ .text.textCN{
  display:initial;
}

ul{
    list-style-type: none;
    margin:auto;
    padding-left:100px;
    overflow:hidden;
    color: inherit;
}

li{
    float: left;
}

li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 120%;
    color:inherit;
    text-decoration: none;
}

li a:hover{
    color:#FEC37D;
}

#no{
  padding-left:1300px;
}

.EN
{
  padding-left:1300px;
}

#big{
  font-size: 180%;
  color:#FEC37D;
}

.introduction p{
  font-size: 110%;
}

.navbarEN{
    width:100%;
    height:60px;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
}
.navbarEN li{
  font-size: 120%;
}
.navbarCN li{
  font-size: 120%;
}

.introduction{
  padding-left:100px;
  padding-right:100px;
}

.introduction p{
  padding:20px 20px 30px 30px;
  border: 3px solid #CEC9C9;
  border-radius: 50px;
}


.navbarCN{
  width:100%;
  height:60px;
  margin:0 auto;
  display:none;
  align-items: center;
  justify-content: space-between;
  position:sticky;
}

.intro{
    margin: 0;
    display: flex;
    text-align: left;
}

#name{
    font-size: 275%;
}

#name2{
  font-size: 180%;
}

.hello1{
    padding: 260px 0px 0px 300px;
    flex-direction: column;
    font-size: 175%;
}

.hello2{
  padding: 200px 0px 0px 330px;
  flex-direction: column;
  font-size: 175%;
}

.pic1{
  flex-direction: column; 
}

.pic1 img{
  width: 100%;
}

.pic2{
  flex-direction: column; 
}

.pic2 img{
  padding-left:60px;
  width:90%;
}
  
#about p{
    font-size: 360%;
    padding-left: 100px;
}

#photo p{
  font-size: 360%;
  padding-left: 100px;
}

#about1 p{
  font-size: 360%;
  padding-left: 100px;
}

#photo1 p{
font-size: 360%;
padding-left: 100px;
}

model-viewer {
    width: 100%;
    height: 90%;
  }
  
  
.progress-bar {
    display: block;
    width: 33%;
    height: 10%;
    max-height: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 25px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}
  
.progress-bar.hide {
    visibility: hidden;
    transition: visibility 0.3s;
}
  
.update-bar {
    background-color: rgba(255, 255, 255, 0.9);
    width: 0%;
    height: 100%;
    border-radius: 25px;
    float: left;
    transition: width 0.3s;
}
  
#ar-button {
    background-image: url(ar_icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 16px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color:#4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
}
  
#ar-button:active {
    background-color: #E8EAED;
}
  
#ar-button:focus {
    outline: none;
}
  
#ar-button:focus-visible {
    outline: 1px solid #4285f4;
}
  
@keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}
  
@keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
}
  
model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 60px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
}
  
model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
}
  
model-viewer > #ar-prompt > img {
    animation: circle 4s linear infinite;
}

.container{
   width:100%;
   height:100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.gallery1{
   display: flex;
   align-items: center;
   justify-content: center;
}

.gallery2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box{
   width:100px;
   height:500px;
   margin:10px;
   border-radius: 50px;
   background: url(https://i.pinimg.com/736x/2e/9f/fa/2e9ffa673b2c037028087a753984d8e5.jpg);
   background-size: cover;
   background-position: center;
   position:relative;
   transition: width 0.5s;
}

.img-box:nth-child(2){
   background: url(https://i.pinimg.com/736x/15/33/2b/15332b5b647ac2a57b3ef133531cf3b5.jpg);
   background-size: cover;
   background-position: center;
}

.img-box:nth-child(3){
   background: url(https://i.pinimg.com/736x/be/97/83/be978324c65ad0e4a43587e40a4229c7.jpg);
   background-size: cover;
   background-position: center;
}

.img-box:nth-child(4){
   background: url(https://i.pinimg.com/736x/13/f5/fe/13f5fe21453a822949f43b5088a49bd9.jpg);
   background-size: cover;
   background-position: center;
}

.img-box2{
  width:100px;
  height:500px;
  margin:10px;
  border-radius: 50px;
  background: url(https://i.pinimg.com/736x/fc/0e/6a/fc0e6a0e8f83265737b3941af2e0b68f.jpg);
  background-size: cover;
  background-position: center;
  position:relative;
  transition: width 0.5s;
}

.img-box2:nth-child(2){
  background: url(https://i.pinimg.com/736x/b2/36/f4/b236f44ec2a989528cd939ae2f28a6b6.jpg);
  background-size: cover;
  background-position: center;
}

.img-box2:nth-child(3){
  background: url(https://i.pinimg.com/736x/bf/4b/ce/bf4bce61466aa5b46b647cc4a98360b8.jpg);
  background-size: cover;
  background-position: center;
}

.img-box2:nth-child(4){
  background: url(https://i.pinimg.com/736x/46/81/8f/46818f453a348af03b2e0055ffaf1f62.jpg);
  background-size: cover;
  background-position: center;
}

.img-box h3{
   color:white;
   position:absolute;
   bottom:0;
   left:30px;
   opacity: 0;
   transition:bottom 0.5s,opacity 0.5s;
}

.img-box2 h3{
  color:white;
  position:absolute;
  bottom:0;
  left:30px;
  opacity: 0;
  transition:bottom 0.5s,opacity 0.5s;
}

.img-box:hover{
   width:450px;
   cursor:pointer;
}

.img-box:hover h3{
   opacity: 1;
   bottom:25px;
}

.img-box2:hover{
  width:450px;
  cursor:pointer;
}

.img-box2:hover h3{
  opacity: 1;
  bottom:25px;
}

@media only screen and (min-width: 375px) and (max-width: 1300px)
{
  .EN{
    padding-left:1000px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 767px)
{
  .EN
  {
    padding-left:340px;
  }
  #no{
    display:none;
  }
  .hello1{
    padding-left: 60px;
    padding-top:100px;
    font-size: 96%;
  }
  .pic1{
    padding-top: 100px;
  }
  .pic1 img{
    width:110%;
  }
  #about{
    padding-left:40px;
    padding-top:50px;
    font-size: 65%;
  }
  #about1{
    padding-left:40px;
    padding-top:50px;
    font-size: 65%;
  }
  #photo{
    padding-left:30px;
    padding-top:50px;
    font-size: 65%;
  }
  #photo1{
    padding-left:30px;
    padding-top:50px;
    font-size: 65%;
  }
  #about p{
    padding-left:0px;
  }
  #photo p{
    padding-left:0px;
  }
  #about1 p{
    padding-left:0px;
  }
  #photo1 p{
    padding-left:0px;
  }
  .img-box{
    width:50px;
  }
  .img-box2{
    width:50px;
  }
  ul{
    padding-left:50px;
  }
  .img-box:hover{
    width:200px;
    cursor:pointer;
  }
  .hello2{
    padding-left: 100px;
    padding-top:100px;
    font-size: 96%;
  }
    .pic2{
      padding-top: 100px;
  }
    .img-box2:hover{
      width:200px;
      cursor:pointer;
  }
  .introduction{
    padding-left:30px;
    padding-right:10px;
  }
  .introduction p{
    font-size:90%;
  }
  #big{
    font-size: 160%;
  }
  .navbarEN a{
    font-size: 99%;
  }
}